[Unit]
Description=Visual Studio Code Server

[Service]
WorkingDirectory=/home/{{ username }}
ExecStart=/usr/local/bin/code-server --host=0.0.0.0 --port=8000
Restart=always
PrivateTmp=true

[Install]
WantedBy=default.target
